@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Public+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Vollkorn:ital,wght@0,400;0,600;1,400;1,600&display=swap");

/* base settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

/* typography */
.heading-primary {
  font-family: "IM Fell English SC", serif;
  font-size: 8rem;
}

.heading-secondary {
  font-family: "Vollkorn", serif;
  font-size: 5rem;
  margin: 1rem 0;
}

/* layout */

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.hero-section {
  background-image: url(img/compass.jpg);
  position: relative;
  height: 50vh;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.control-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  z-index: 1;
}

.date-container {
  font-family: "Vollkorn", serif;
  font-size: 4rem;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.content-header {
  margin-top: 5rem;
  font-size: 2rem;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count-control {
  font-family: "Public Sans", sans-serif;
}

.number-control {
  display: inline-block;
}

.form-input {
  margin-bottom: 0.5rem;
}

.render-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 2rem 0;
  /* margin: 5rem 0 10rem 0; */
}

/* card */
.card {
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  max-width: 30%;
  margin: 2rem;
  transition: all 0.3s;
  height: 640px;

  display: flex;
  flex-direction: column;
}

.card__header {
  height: 50%;
}

.card__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card__content {
  font-family: "Public Sans", sans-serif;
  padding: 2rem 1.5rem;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title-large {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.card__title-medium {
  font-size: 2rem;
  margin-bottom: 0.5rem;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.card__subtitle-large {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.card__subtitle-medium {
  font-size: 1.8rem;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.card__content-text {
  font-family: "Public Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 0.6rem;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* number of lines to show */
  line-clamp: 7;
  -webkit-box-orient: vertical;
}

.card__content-link {
  display: inline-block;
  background-color: #f6bd60;
  color: #fff;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s;
}

.card__content-link .arrow {
  transition: all 0.3s;
}

.card:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0.5rem 1rem 2.5rem rgba(0, 0, 0, 0.2);
}

.card__content-link:hover {
  transform: scale(1.05);
}

.card__content-link:hover .arrow {
  margin-left: 0.5rem;
}

/* buttons */
.btn,
.btn:link,
.btn:visited {
  margin-bottom: 1.5rem;
  background-color: #ffd60a;
  font-family: "Public Sans", sans-serif;
  display: inline-block;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 3px;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;

  /* change for form button */
  border: none;
  cursor: pointer;
}

.btn:not(:last-child),
.btn:link:not(:last-child),
.btn:visited:not(:last-child) {
  margin-right: 2rem;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* form button */
.btn-submit {
  display: inline-block;
  border: none;
  font-family: "Public Sans", sans-serif;
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  background-color: #f6bd60;
  border-radius: 3px;
  margin-left: 1rem;

  cursor: pointer;
  transition: all 0.3s;
}

.btn-submit:hover {
  transform: scale(1.05);
}

.btn-submit:active {
  transform: translateY(-1px);
}

/* Paginization */
.paginationContainer {
  display: flex;
  margin: 0 0.5rem;
}

.pagesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin: 0 0.5rem;
}

.pageNavBtn {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #f6bd60;
  border-radius: 5px;
}

.pageBtn {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #ffd60a;
  border-radius: 5px;
}

.pageBtn.active {
  background-color: burlywood;
}
/* utility */
.inactive {
  display: none;
}

/* media queries */

@media only screen and (min-width: 1600px) {
  .container {
    max-width: 150rem;
    margin: 0 auto;
  }

  .card {
    max-width: 20%;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 100rem;
    margin: 0 auto;
  }

  .heading-primary {
    font-size: 6rem;
  }

  .heading-secondary {
    font-size: 3rem;
    margin: 0.5rem 0;
  }

  .date-container {
    font-size: 2.5rem;
  }

  .btn-container {
    margin-top: 1rem;
  }

  .hero-section::before {
    top: 25%;
  }

  .card {
    max-width: 45%;
  }
}

@media only screen and (max-width: 1050px) {
  .container {
    max-width: 80rem;
    margin: 0 auto;
  }
  /* .card {
    max-width: 45%;
  } */
}

@media only screen and (max-width: 800px) {
  .container {
    max-width: 70rem;
    margin: 0 auto;
  }

  .render-container {
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    margin: 0;
  }

  .card {
    max-width: 80%;
    flex: 1;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    max-width: 70rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 700px) {
  .hero-section::before {
    top: 10%;
    height: 80%;
  }

  .control-container {
    text-align: center;
  }

  .btn-container {
    justify-content: center;
    margin: 2rem 2rem 0 2rem;
  }

  .content-header {
    margin-top: 2rem;
    text-align: center;
  }
}

@media only screen and (max-width: 520px) {
  .hero-section::before {
    top: 10%;
    height: 80%;
  }

  .heading-primary {
    font-size: 4.5rem;
  }

  .heading-secondary {
    font-size: 2rem;
    margin: 0.5rem 0;
  }

  .content-header {
    font-size: 1.5rem;
    margin: 2rem 1rem 0 1rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .card {
    max-width: 90%;
    flex: 1;
  }
}

@media only screen and (max-width: 450px) {
  .card__title-large {
    font-size: 2.2rem;
  }

  .card__title-medium {
    font-size: 1.8rem;
  }

  .card__subtitle-large {
    font-size: 1.8rem;
  }

  .card__subtitle-medium {
    font-size: 1.5rem;
  }
}
